<nav class="flex flex-wrap items-center justify-center gap-4 md:gap-8">
            <a href="#inicio" class="text-[#A1A7B0] font-sans text-xs hover:text-white transition-colors duration-300">
                Inicio
            </a>
            <a href="#acerca" class="text-[#A1A7B0] font-sans  text-xs hover:text-white transition-colors duration-300">
                Acerca de
            </a>
            <a href="#servicios" class="text-[#A1A7B0] font-sans  text-xs hover:text-white transition-colors duration-300">
                Servicios
            </a>
            <a href="#ubicacion" class="text-[#A1A7B0] font-sans  text-xs hover:text-white transition-colors duration-300">
                Ubicación
            </a>
            <a href="#contacto" class="text-[#A1A7B0] font-sans text-xs hover:text-white transition-colors duration-300">
                Contacto
            </a>
        </nav>