<div class="md:hidden absolute top-0 z-20  w-full h-20 min-h-18 px-4 py-2 flex items-center justify-between">
<div
				class="absolute inset-0 -z-10 bg-white-50/60 backdrop-blur-md border-b border-white/10 rounded-b-sm"
			>
			</div>
            <img
				src='src/assets/logo.png'
				alt='logo del montecito'
				class="h-16 w-auto md:h-auto"
			/>
</div>