<section id="acerca" class="relative w-full h-screen min-h-150 overflow-hidden bg-white md:h-[80vh] md:w-[95%] md:max-w-7xl md:mx-auto md:rounded-lg md:my-8">

    <div class="h-80 py-4 mt-10 ">
		<div class="w-full h-full bg-gray-100 grid grid-cols-2 p-4 items-center justify-center	">
			<div class="flex justify-center">
				<p>hola</p>
			</div>
			<div class="flex justify-center">
				<p>hola</p>
			</div>
			<div class="flex justify-center">
				<p>hola</p>
			</div>
			<div class="flex justify-center">
				<p>hola</p>
			</div>

		</div>

  </div>

</section>