<section id="contacto" class="relative w-full h-screen min-h-150 overflow-hidden bg-white md:h-[80vh] md:w-[95%] md:max-w-7xl md:mx-auto md:rounded-lg md:my-8">

    <div>
        <p>aca iran los contactos</p>
    </div>

</section>